html,
body {
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: Helvetica sans-serif;
	margin: 0;
	padding: 0;
	background-color: #c4b7d9;
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237d7d7d' fill-opacity='0.26'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

button {
	background: rgb(213, 228, 223);
	color: rgb(36, 46, 43);
	padding: 0 45px;
	border: 2px solid rgb(113, 122, 119);
	border-radius: 25px;
	height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
	transition: 0.4s;
}

button:hover {
	background-color: rgb(113, 122, 119);
	color: rgb(228, 238, 235);
	border: 2px solid rgb(228, 238, 235);
}
